@model ContactListViewModel
<div class="row">
    <div class="col-md-12">
        <h1>Admin </h1>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>FirstLastName</td>
                    <td>Description</td>
                    <td>Email</td>
                    <td>Subject</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Contact.Count > 0)
                {
                    @foreach (var item in Model.Contact)
                    {
                        <tr>
                            <td>@item.ContactId</td>
                            <td>@item.FirstLastName</td>
                            <td>@item.Subject</td>
                            <td>@item.Description</td>
                            <td>@item.Email</td>
                            <td>

                                <form action="/admin/deletecontact" style="display:inline;" method="POST">
                                    <input type="hidden" name="ContactId" value="@item.ContactId">
                                    <button type="submit" class="btn btn-danger btn-sm mr-2">Delete</button>
                                </form>

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning "><h2>Makale yok LA</h2></div>
                }
            </tbody>
        </table>
        <a href="/admin/createArticle" class="btn btn-primary">Add Article</a>
    </div>
</div>